header {
    padding-bottom: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(180deg, #4e1772 0,rgba(52,10,52,.3)),repeating-linear-gradient(180deg,#181818,#181818 1px,#000 0,#000 2px);
    background-size: 5000px 80px;
    background-repeat: no-repeat;
}

body {
    background-color: #000;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px;
    padding-right: 10px;
}

.header-container {
    margin-top: 22px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 0px;
    padding-right: 0px;
}


.body-container {
    background-color: #121212;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}  

.body_ {
/*    background-color: linear-gradient(90deg,#929BA0, #778188); */
    color: #fefefe;
    background-color: #000;
    background-attachment: fixed;
    margin-right: 0px;
}

a {
    color: #7322b7;
    font-weight: normal;
    text-shadow: 0 0 2px #000;

}

a:local-link {
    color: #7322b7;
}

a:hover {
    color: #5e1792;
}

h2 {
    text-shadow: 0 0 7px #000;
    font-weight: normal;
}

h3, h4, h5 {
    text-shadow: 0 0 2px #000;

}

h1, h2, h3, h4, h5 {
    color: #8d1beb;
}

h4 {
    font-size:large;
}

h5 {
    font-size: medium;
}

.minor-text {
    color: #8d1beb;
    font-size: smaller;
}

.lower-navbar {
    padding: 0px;
    padding-left: 40px;
    margin: 0px;
}

.footer-area{
    padding-bottom: 50px;
    background-image: linear-gradient(0deg, #4e1772 0,rgba(52,10,52,.3)),repeating-linear-gradient(180deg,#181818,#181818 1px,#000 0,#000 2px);
    background-size: 5000px 80px;
    background-repeat: no-repeat;
}

/*.row-content {
    border-bottom: 1px ridge;
    min-height: 400px;
}*/

li::marker{
    color:#7211C2;
}

li {
    list-style-image: "main/res/iconmonstr-download.png";
}

.li-body {
    margin-bottom: 5px;
    padding-left: 10px;
}

/* Adjusts the bottom border of the whole nav-tabs section */
.nav-tabs {
    border-bottom-width: 0px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: #000;
}

/* Actually fixes the tab background color*/
.nav-tabs .nav-item .nav-link {
    background-color: #202020;
    border-width: 0px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-color: #000;

}

/* Tab colors on nav bar mouse down */
.nav-tabs:active .nav-item:active .nav-link:active {
    color: #533a66;
    background-color:#121212;
}

.DLlinks {
    background-color: #121212;
    display: none;
    margin: 0px;
    padding: 0px;
} 

.link-body {
    background-color: #121212;
    margin: 0px;
    padding: 15px;
    padding-bottom: 50px;
    margin-left: 15px;
    border-color: #000;
    border-width: 3px;
    border-radius: 30;
}

.link-container {
    padding: 0px;
    margin: 0px;
}